@import "../../styles.global/color";

.logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  .loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
  }

  .loader:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: $blue;
    animation: loading 2s linear infinite;
  }

  @keyframes loading {
    from {
      left: -200px;
      width: 30%;
    }
    50% {
      width: 30%;
    }
    70% {
      width: 70%;
    }
    80% {
      left: 50%;
    }
    95% {
      left: 120%;
    }
    to {
      left: 100%;
    }
  }

  .loader-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    height: 16px;
    color: #262626;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    .loader-info{
      padding-bottom: 60px;
      img{
        background: white;
        padding: 0 50px;
        z-index: 10;
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
}

.lds-ripple {
  display: inline-block;
  position: absolute;
  width: 50vw;
  height: 50vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.lds-ripple div {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 4px solid #adb5ad;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
