@import "../../../styles.global/color";

.viewer-logo {
  position: absolute;
  padding: 2em;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 2;

  img{
    width: 140px;
  }
  p {
    padding: 1em 0;
    color: $black;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }
}
