.my-card {
  background-color: #FFFFFF;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.18);
  padding: 5px;

  .title {
    color: #262626;
    font-size: 24px;
    font-weight: bold;
    border-bottom:1px solid #B6B6B6;
    padding:0 10px;
  }
  .content{
    padding: 10px;
    padding-bottom: 0;
    position: relative;
    overflow: hidden;
  }
}
