@import "../../../styles.global/color";

.light-title {
  font-size: 20px;
  color: $blue;
}

table {
  thead {
    tr {
      th {
        background: $blue !important;
        color: white !important;
        padding: 0 !important;
        text-align: center !important;
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 0 4px !important;
        text-align: center !important;

        border-bottom: 1px solid $gray1 !important;
      }
    }
  }

  input {
    border: none !important;
    padding: 0 !important;
    width: 48px !important;
  }
}

.globe-viewer {
  .content {
    min-height: calc(100vh - 200px)
  }
}

.btns-action {
  position: absolute;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  bottom: 0;
  padding: 1em;

  button {
    width: 410px;
    margin-right: 10px;
  }
}

.main-form {

  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.18);
}

.saving {
  position: absolute;
  padding: 1em;
  color: white;
  background: #85a554;
  top: 10px;
  right: 60px;
}

@media only screen and (max-width: 768px) {
  .btns-action {
    position: relative;
    display: flex;
    flex-direction: column;

    button {
      width: 100%;
      margin-right: 10px;
      margin: 0;
    }

  }
}
