.ant-layout-header {
  display: flex;
  background: rgb(255, 255, 255) !important;
  padding: 0px !important;;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1 !important;;

  span {
    text-align: center;
    &:first-child {
      font-size: 32px;
    }

    &:last-child {
      font-size: 20px;

    }
  }
}

.main-admin-container {
  margin-left: 15px;
}

@media only screen and (max-width: 768px) {
  .main-admin-container {
    margin: 0;
  }
}
