@import "../../../styles.global/var";

.threejs-scene {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  canvas {
    position: absolute;
    left: 0;
    top: 0;
  }
}

