@import "./styles.global/color";

@font-face {
  font-family: Blender-Pro-Bold; /* Имя шрифта */
  src: url(./styles.global/fonts/Blender-Pro-Bold.otf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: BlenderProMedium; /* Имя шрифта */
  src: url(./styles.global/fonts/BlenderProMedium.ttf); /* Путь к файлу со шрифтом */
}

body {
  background: white;
  overflow: auto;
  font-family: BlenderProMedium!important;
  *{
    transition:0.05s linear;
  }
}
.ant-layout-content{
  background: white;
}


::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar
{
  width: 6px;
  background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: rgba(85, 85, 85, 0);
}

.ant-select-dropdown{
  .ant-select-dropdown-menu-item{
    &:hover{
      background-color: $blue1;
    }
  }
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .px-1,.px-2{
    padding: 0!important;
  }
}
[class*="col-"] {
  float: left;
  padding: 15px;
}

#root{
  .ant-slider-handle,.ant-slider-track{
    border-color: $blue;
    background-color:$blue;
  }

}

.d-flex {
  display: flex;
  &.s-b{
    justify-content: space-between;
  }
  &.d-c{
   flex-direction: column;
  }
  &.d-r{
   flex-direction: row;
  }
  &.a-c{
    align-items: center;
  }
}
.slider{
  .text-info{
    color:$gray1;
    font-size: 16px;
  }
}
.d-inline{
  display: inline-block;
  width: 100%;
}
.p-0{
  padding: 0!important;
}
.p-y{
  padding: 10px 0!important;
}
.p-x,.p-z{
  padding: 0 10px !important;
}

.wrap-text{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ant-btn-primary{
  background-color: $blue!important;
  width: 100%;
}
.px-1{
  padding:0;
  padding-right:5px;
}
.px-2{
  padding:0;
  padding-left:5px;
}
