@import "../../../styles.global/color";
@import "../../../styles.global/var";

$HEIGHT: 65px;
.globe-viewer {
  position: relative;
  width: 100%;
  height: 100%;

  .viewer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .admin-btn{
      position: absolute;
      right: 0;
      padding: 25px;
      color: $gray1;
      font-size: 24px;
      z-index: 11;
    }
    .middle-settings {
      position: absolute;
      z-index: 2;
      bottom: 0;
      padding: 2em;
      left: 50%;
      width: 100%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;

      .filter-container {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.18);
        height: $HEIGHT;
        border-radius: 0.5em;

        .ant-select {
          width: 100%;
          margin-bottom: 0.5em;

          border-bottom: 1px solid $gray;

          &.ant-select-open {
            .ant-select-selection-selected-value {
              color: $blue;
              font-weight: 900;
            }
          }

          .ant-select-selection {
            border: none;
          }
        }
      }

      .filter-tier {
        width: 300px;
      }

      .CONTAINER {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 30%;
        height: $HEIGHT;
        z-index: 69;


      }

      .filter-text {
        font-size: 14px;
        color: rgb(38, 38, 38);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
        width: 100%;
      }

      .slider-controls {
        display: none;
      }
    }
    .drag-helper{
      position: absolute;

      z-index: 2;
      top: 50%;
      right: 2em;
      transform: translateY(-50%);
      p{
        color: $gray1;
      }
      svg{
        width: 40px;
        height: 40px;
        path{
          fill:$gray1
        }
      }
    }
  }
}

@media only screen and (max-width: $device-width) {
  .globe-viewer {
    .drag-helper{
      display: none;
    }
    .viewer {
      .middle-settings {
        height: 121px;
        .filter-container{
          width: 70%;
          position: absolute;
          left: -1000vw;
          transform: translate(-50%);
          &.centered{
            left:50%;
          }
        }

        .slider-controls {
          display: block;

          i {
            position: absolute;
            height: $HEIGHT;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10%;
            top: 2em;
            background: white;
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.18);
            border-bottom-right-radius: 0.5em;
            border-top-right-radius: 0.5em;
            path{
              fill: $blue;
            }

            &.anticon-left {
              right: 0;
              left: initial;
              border-radius: 0;
              border-bottom-left-radius: 0.5em;
              border-top-left-radius: 0.5em;
            }
          }
        }
      }
    }
  }
}
